<!doctype html>

<html lang="en">

  <head>
  
  	<title>Sleep musicalization - A novel approach to turn your data into personally composed music</title>

    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/dreams.css" type="text/css">
	
	<link rel="stylesheet" href="{{ STATIC_URL }}blue.monday/jplayer.blue.monday.css" type="text/css">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://raw.github.com/rthprog/fixie/master/fixie_min.js"></script>

    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>  

    <script src="{{ STATIC_URL }}js/jQuery.jPlayer.2.1.0/jquery.jplayer.min.js"></script>  

    {% block head %}
    {% endblock %}

  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
	<div class="container">
	  <a class="brand" href="/">Sleep musicalization</a>
	  
	  <ul class="nav">
	    <li><a href="{% url home %}#introduction">How it works</a>
	    <li><a href="{% url home %}#publications">Publications</a>
	    <li><a href="{% url song_index %}">Songs</a>
	    <li><a href="{% url home %}#team">Team</a>
	    <li><a href="{% url home %}#comment">Comment</a>
	  </ul>
	    {% if request.session.beddit_user %}
	    <ul class="nav pull-right">
		    <li><a href="{% url night_index %}">{{ request.session.beddit_user.first_name }}'s sleep</a>
	   	    <li><a href="{% url sign_out %}"><i class="icon-signout"></i> Sign out</a>
		  </ul>
	    {% endif %}
	</div>
      </div>
    </div>

    {% if messages %}
    <div class="container" style="margin-top: 40px;">
      <div class="row">
	<div class="span12">
	  
	  {% for message in messages %}
	  <div class="alert">
	    <button class="close" data-dismiss="alert">&times</button>
	    {{ message }}
	  </div>
	  {% endfor %}

	</div>
      </div>
    </div>
    {% endif %}

    {% block body %}
    {% endblock %}
    
   
   	<!-- Facebook like button script -->
	
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
	
	
	<!-- Twitter -->
	
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	

	<!-- Place this render call where appropriate -->
	
	<script type="text/javascript">
	  (function() {
	    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
	    po.src = 'https://apis.google.com/js/plusone.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
	  })();
	</script>
  </body>

</html>
