{% extends "dreamsapp/base.html" %} {% block body %}

<div class="container" style="margin-top: 100px;">

	<div class="row">
		<div class="span12">

			<div class="hero-unit">
				<h1>Sleep musicalization</h1>

				<p>Feel your data as a unique musical experience! 
				<br/>
				Musicalization of data is a novel approach to turn information into composed music.</p>

				<p>
					<a class="btn btn-primary btn-large" href="{{ authorize_url }}">
						<i class="icon-music icon-white"></i> Try it on your Beddit data!
					</a>
			</div>

		</div>
	</div>

	<div class="row">

		<div class="span7">
			<h1><a name="introduction"></a>Introduction</h1>

			<p>Sleep musicalization is a novel way to aid the analysis and understanding of sleep
			measurement data.</p>

			automatic music 
			composition algorithm is used to generate a song from the sleep data.</p>

			<p>Sleep musicalization produces music that complements
			visualizations of sleep measurements.</p>


			<p>The musicalization project has been carried out in the 
			<a href="http://www.cs.helsinki.fi/en/discovery">Discovery Research Group</a>
			at the <a href="http://www.helsinki.fi/university/">University of Helsinki</a>.</p>

			<p>Sleep analysis is based on the <a href="http://beddit.com">Beddit</a> sleep measurement sensor.
			Sleep measurements and analysis results are retrieved from the Beddit service, by the user's authorization.

			<h2>
				<a name="publications"></a>Publications and Press
			</h2>

			<p>Tulilaulu, A., Paalasmaa, J., Waris, M. &amp; Toivonen, H. 2012.
			<b>Sleep Musicalization: Automatic Music Composition from Sleep Measurements.</b>
			In <span style="font-style:italic;">The Eleventh International Symposium on Intelligent Data Analysis (IDA 2012)</span>.
			[<a href="http://www.cs.helsinki.fi/u/htoivone/pubs/sleepmusicalization_ida_2012.pdf">PDF</a>]
			</p>

			<p><a href="">Yöunesta voi nyt säveltää automaattisesti musiikkia</a>, press release (in Finnish)	
			</p>


		</div>

		<div class="span5">

			<h2>Listen to latest samples</h2>

			{% with song_list=latest_songs %}
				{% include "dreamsapp/song_list_snippet.html" %}
			{% endwith %}

			<p>
				<a class="btn" href="{% url song_index %}"><i
					class="icon-chevron-right"></i> View all ({{ total_songs }})</a>
			</p>
			
			
			<div class="well">
				<h3>Tell your friends</h3>
	
				<div class="fb-like" data-href="http://sleepmusicalization.net" data-send="false" data-layout="button_count" data-width="60" data-show-faces="true"></div>
				
				<a href="https://twitter.com/share" class="twitter-share-button" data-size="large">Tweet</a>
				
				<!-- Place this tag where you want the +1 button to render -->
				<g:plusone></g:plusone>
				
			</div>
			
		</div>

	</div>

	<div class="row">
		<div class="span12">
			<h2>
				<a name="team"></a>Team
			</h2>
		</div>
	</div>

	<div class="row">
		<div class="span3">
			<h3>
				Aurora Tulilaulu<br>
				<small>Music composition</small>
			</h3>
		
		</div>
		
		<div class="span3">
			<h3>
				<a href="http://www.cs.helsinki.fi/u/jpaalasm/">Joonas Paalasmaa</a><br>
				<small>Sleep data analysis</small>
			</h3>
		
		</div>
		
		<div class="span3">
			<h3>
				Mikko Waris<br>
				<small>This website</small>
			</h3>
		
		</div>
		
		<div class="span3">
			<h3>
				<a href="http://www.cs.helsinki.fi/u/htoivone/">Hannu Toivonen</a><br>
				<small>Professor</small>
			</h3>
			
		</div>
	</div>


	<div class="row">
		<div class="span12">
			<h2>Funding</h2>

			<p>This work has been supported by the Algorithmic Data Analysis (Algodan) Centre of Excellence of the Academy of Finland and by the University of Helsinki.
		</div>
	</div>


	<div class="row">
		<div class="span12">
			<h2>
				<a name="comment"></a>Comment
			</h2>

	        <div id="disqus_thread"></div>
	        <script type="text/javascript">
	            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
	            var disqus_shortname = 'Sleep Musicalization'; // required: replace example with your forum shortname
	
	            /* * * DON'T EDIT BELOW THIS LINE * * */
	            (function() {
	                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
	                dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
	                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	            })();
	        </script>
	        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
	        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
	        
		</div>
	</div>

</div>


{% endblock %}

