{% extends "dreamsapp/base.html" %} {% block body %}

<div class="container" style="margin-top: 100px;">

	<div class="row">
		<div class="span12">

			<div class="hero-unit">
				<h1>Sleep musicalization</h1>

				<p>Perceive your sleep as a unique musical experience! 
				<br/>
				Musicalization turns data into a genuine piece of composed music.</p>

				<p>
					<a class="btn btn-primary btn-large" href="{{ authorize_url }}">
						<i class="icon-music icon-white"></i> Try it on your Beddit data!
					</a>
			</div>

		</div>
	</div>

	<div class="row">

		<div class="span7">
			<h1><a name="introduction"></a>Introduction</h1>

			<p>
			Sleep musicalization is a novel way of  
			perceiving and experiencing sleep measurement data.
			The goal is to help users understand and analyze their 
			sleeping patterns and eventually improve their sleep.
			</p>
			
			<p>
			The musicalization process follows musicological 
			principles when composing a melody, designing the rhythm
			and changes in tempo, arranging the accompaniment, 
			and playing out the music at different levels of volume. 
			These aspects are inspired but not dictated
			by the data. The result of musicalization of eight hours
			of sleep is an origianal piece of couple of minutes of music.
			</p>			
			
			<p>
			Musicalization of data provides a whole new way to experience 
			data as a music. Music has a unique capability to invoke emotions, 
			giving users a novel opportunity to perceive their data 
			also as innate feelings. In the case of sleep measurements, musicalization
			complements the more informative, no-nonsense visual results
			with an emotional component towards one's own sleep.
			</p>

			<p>
			Sleep analysis in this service is based on the <a href="http://beddit.com">Beddit</a> sleep measurement device,
			which measures sleep with a thin sensor installed under the mattress.
			Sleep measurements are retrieved from the Beddit service, by the user's authorization,
			and then musicalized by composing a novel piece of music.
			</p>

			<h2>
				<a name="publications"></a>Publications
			</h2>

			<p>Tulilaulu, A., Paalasmaa, J., Waris, M. &amp; Toivonen, H. 2012.
			<b>Sleep Musicalization: Automatic Music Composition from Sleep Measurements.</b>
			In <span style="font-style:italic;">The Eleventh International Symposium on Intelligent Data Analysis (<a href="http://ida2012.org/">IDA 2012</a>)</span>,
			LNCS 7619, 392-403. Springer 2012.
			[<a href="http://www.cs.helsinki.fi/u/htoivone/pubs/sleepmusicalization_ida_2012.pdf">PDF</a>]
			</p>
			
			<p>Paalasmaa, J., Waris, M., Toivonen, H., Leppäkorpi, L. &amp; Partinen, M., 2012.
			<b>Unobtrusive Online Monitoring of Sleep at Home.</b>
			In <span style="font-style:italic;">34th Annual International Conference of the IEEE Engineering in Medicine and Biology Society, EMBC'12</span>.
			[<a href="http://www.cs.helsinki.fi/u/htoivone/pubs/paalasmaa_embs_12.pdf">PDF</a>]
			</p>
			
			<h2>
				<a name="press"></a>Press coverage
			</h2>
			
			<p><a onclick="toggle_visibility('press');">Click to show press coverage</a></p>
			<div id="press" style="display:none">
			
			<p><a href="http://www.helsinki.fi/news/archive/9-2012/6-11-47-06.html">
			Turn your dreams into music</a>
			(Press release Sep 6th, 2012, English)</p>
			
			<p><a href="http://www.helsinki.fi/ajankohtaista/uutisarkisto/9-2012/6-11-32-36.html">
			Yöunesta voi nyt säveltää automaattisesti musiikkia</a>
			(Press release Sep 6th, 2012, Finnish)</p>
			
			<p><a href="http://areena.yle.fi/tv/1673742?start=3m2s">
			Yle Uutiset Uusimaa</a>
			(YLE TV news, Finnish)</p>
			
			<p><a href="http://leiphone.blog.techweb.com.cn/archives/8131.html">
			赫尔辛基大学新项目: 睡觉也能谱曲 人人都是音乐家</a>
			(techweb.com.cn, Chinese)</p>
			
			<p><a href="http://www.maxisciences.com/objet-geek-du-week-end/l-039-objet-geek-du-week-end-sleep-musicalization-pour-ecouter-la-musique-de-vos-reves_art26589.html">
			L'Objet Geek du Week End : Sleep Musicalization, pour écouter la musique de vos rêves!</a>
			(MaxiSciences, French)</p>
			
			<p><a href="http://www.lesnumeriques.com/transformez-vos-reves-en-musique-n26077.html">
			Transformez vos rêves en musique</a>
			(Les Numeriques, French)</p>
			
			<p><a href="http://www.01net.com/editorial/572371/un-logiciel-transforme-vos-reves-en-musique/">
			Un logiciel transforme vos rêves en musique</a>
			(01.net, French)</p>
			
			<p><a href="http://www.20minutes.fr/sciences/1002846-musique-reves">
			Des informaticiens finlandais ont développé un logiciel qui transforme vos rêves en musique...</a>
			(20minutes.fr, French)
			</p>
			
			<p><a href="http://www.pressetext.com/news/20120912003">
			Traumhaft: Programm macht Schlaf zu Musik</a>
			(pressetext, German)</p>
			
			<p><a href="http://www.diariodepernambuco.com.br/app/noticia/ciencia-e-saude/2012/09/12/internas_cienciaesaude,396097/cientistas-desenvolvem-software-que-transforma-sono-em-musica.shtml">
			Cientistas desenvolvem software que transforma sono em música</a>
			(Diario de Pernambuco, Brasian Portuquese)</p>
			
			<p><a href="http://medlive.hotnews.ro/vitmatina-cum-iti-poti-transforma-visele-in-muzica.html">
			Cum iti poti transforma visele in muzica</a>
			(MedLive, Romanian)</p>
			
			<p><a href="http://www.techgear.gr/sleep-musicalization-turns-your-sleep-into-music-52530/">
			Sleep Musicalization, το software που μετατρέπει τον ύπνο σου σε μουσική</a>
			(TechGear, Greek)</p>
			
			<p><a href="http://www.gizmag.com/software-sleep-music/24094/">
			New software turns sleep patterns into music</a>
			(Gizmag, English)</p>
			
			<p><a href="http://www.powplop.tv/2012/09/crean-software-que-crea-musica-a-partir-de-tus-suenos/">
			Crean software que crea música a partir de tus sueños</a>
			(Powplow, Spanish)</p>
			
			<p><a href="http://www.smedia.rs/biznis/vest/38413/Uredjaj-koji-pretvara-snove-u-muziku-Softver-koji-komponuje-melodiju-Uredjaj-koji-pretvara-snove-u-muziku-Da-li-biste-voleli-da-cujete-kako-vas-san-zvuci-FOTO.html">
			Uređaj koji pretvara snove u muziku: Da li biste voleli da čujete kako vaš san zvuči?</a>
			(SMEDIA, Serbian?)</p>
			
			<p><a href="http://www.scientias.nl/nieuwe-software-geeft-uw-dromen-een-stem/71923">
			Nieuwe software geeft uw dromen een stem</a>
			(scientias.nl, Dutch)</p>
			
			<p><a href="http://www.naukawpolsce.pap.pl/aktualnosci/news,391727,muzyka-ze-snu.html">
			Muzyka ze snu</a>
			(Nauka w Polsce, Polish)</p>
			
			<p><a href="http://news.discovery.com/tech/music-made-from-dreams-120912.html">
			Find Out What Your Dreams Sound Like</a>
			(Discovery News, English)</p>
			
			<p><a href="http://news.cnet.com/8301-17938_105-57511480-1/your-sleep-patterns-now-in-soundtrack-form/">
			Your sleep patterns, now in soundtrack form</a>
			(CNET, English)</p>
			
			<p><a href="http://de.engadget.com/2012/09/13/daten-musikalisierung-nachtschlaf-als-klavierstuck-anhoren/">
			Daten-Musikalisierung: Nachtschlaf als Klavierstück anhören</a>
			(engadget, German)</p>
			
			<p><a href="http://hicomm.bg/hi-tech/kak-zvuchat-synishtata.html/">
			Как звучат сънищата?</a>
			(HiComm, Bulgarian)</p>
			
			<p><a href="http://srednja.hr/Zabava/Tech--Web/Softver-koji-pretvara-snove-u-muziku">
			Softver koji pretvara snove u muziku</a>
			(srednja, Croatian)</p>
			
			<p><a href="http://noos.com.ua/ru/post/2999">
			Финны научились превращать сны в музыку</a>
			(Ноосфера, Russian)</p>
			
			<p><a href="http://www.dailytechinfo.org/infotech/4004-novaya-programma-prevraschaet-sny-lyudey-v-udivitelnuyu-muzyku.html">
			Новая программа превращает сны людей в удивительную музыку</a>
			(DailyTechInfo, Russian)</p>
			
			<p><a href="http://genk.vn/c198n20120921042447263/soan-nhac-tu-giac-ngu.chn">
			Soạn nhạc từ giấc ngủ</a>
			(GenK, Vietnam)</p>
			
			</div>
		
		</div>

		<div class="span5">

			<h2>Listen to latest samples</h2>

			{% with song_list=latest_songs %}
				{% include "dreamsapp/song_list_snippet.html" %}
			{% endwith %}

			<p>
				<a class="btn" href="{% url song_index %}"><i
					class="icon-chevron-right"></i> View all ({{ total_songs }})</a>
			</p>
			
			
			<div class="well">
				<h3>Tell your friends</h3>
	
				<div class="fb-like" data-href="http://sleepmusicalization.net" data-send="false" data-layout="button_count" data-width="60" data-show-faces="true"></div>
				
				<a href="https://twitter.com/share" class="twitter-share-button" data-size="large">Tweet</a>
				
				<!-- Place this tag where you want the +1 button to render -->
				<g:plusone></g:plusone>
				
			</div>
			
		</div>

	</div>

	<div class="row">
		<div class="span12">
			<h2>
				<a name="team"></a>Team
			</h2>
		</div>
	</div>

	<div class="row">
		<div class="span3">
			<b>Aurora Tulilaulu</b><br>
			Music composition algorithms
		</div>

		<div class="span3">
			<b><a href="http://www.cs.helsinki.fi/u/jpaalasm/">Joonas Paalasmaa</a></b><br>
			Sleep data analysis methods
		</div>

		<div class="span3">
			<b>Mikko Waris</b><br>
			Website
		</div>

		<div class="span3">
			<b><a href="http://www.cs.helsinki.fi/u/htoivone/">Hannu Toivonen</a></b><br>
			Supervision
		</div>
	</div>


	<div class="row">
		<div class="span12">
			<h2>Source codes</h2>

			<p>Python source codes of the <a href="https://github.com/Tulilaulu/Sleep-musicalization">musicalization</a>
			implementation and <a href="https://github.com/beddit/sleep-musicalization-web">this website</a> are available.
			</p>
		</div>
	</div>


	<div class="row">
		<div class="span12">
			<h2>Thanks</h2>

			<p>The musicalization project has been carried out in the 
			<a href="http://www.cs.helsinki.fi/en/discovery">Discovery Research Group</a>
			at the <a href="http://www.helsinki.fi/university/">University of Helsinki</a>.</p>

			<p>A big thank you to the 
			<a href="http://www.cs.helsinki.fi/research/algodan/">Algorithmic Data Analysis (Algodan)</a> 
			Centre of Excellence of the Academy of Finland, 
			and to the <a href="http://www.cs.helsinki.fi/en">Department of Computer Science</a> 
			of the University of Helsinki for their financial support.
			Thanks also to Tomi Jylhä-Ollila for help with the 
			<a href="http://kunquat.org/">Kunquat</a> system used to render the music!
			</p>
		</div>
	</div>


	<div class="row">
		<div class="span12">
			<h2>Contact</h2>

			<p>Data mining and musicalization research: <a href="http://www.cs.helsinki.fi/u/htoivone/">Prof. Hannu Toivonen</a>. 
			Sleep analysis methods and services: <a href="http://www.beddit.com">Beddit Ltd</a>.
			</p>
		</div>
	</div>


	<div class="row">
		<div class="span12">
	<hr>
        <div id="disqus_thread"></div>
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
            var disqus_shortname = 'sleepmusicalization'; // required: replace example with your forum shortname

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
        
		</div>
	</div>

</div>


{% endblock %}

