{% extends "dreamsapp/base.html" %}

{% load dreamutils %}


{% block head %}
	{% if song %}
	  <script src="{{ STATIC_URL }}js/datetimeutils.js"></script>  
	  <script src="{{ STATIC_URL }}js/raphael-2.0.1-min.js"></script>  
	  <script src="{{ STATIC_URL }}js/nightvisualization.js"></script>  
	
	  <script type="text/javascript">

	  var sleep_data = {% if song.sleep_data %}{{ song.sleep_data|safe }}{% else %}undefined{% endif %};
	  
	  $(document).ready(function(){
	      
		  $("#jquery_jplayer_1").jPlayer({
	        ready: function () {
	          $(this).jPlayer("setMedia", {
	          	"mp3": "{% url song_mp3 song.key %}"
	          });
	        },
	        swfPath: "{{ STATIC_URL }}js/jQuery.jPlayer.2.1.0/",
	        supplied: "mp3"
	      });
		  
		  if (sleep_data) {
	          var sleep_plots = new Array();
	          sleep_plots.push(new SleepStagesPlot("sleep_stages_plot", sleep_data));
	          sleep_plots.push(new ActigramPlot("actigram_plot", sleep_data));
	          
	 	      $(window).resize(function() {
	            for (var i = 0; i < sleep_plots.length; i++) {
	              sleep_plots[i].draw();
	            }
	          });
		  }

	    });
	  
	  </script>
	 {% endif %}
{% endblock %}

{% block body %}

<div class="container" style="margin-top:100px;">

  {% if not edit_link %}
  <div class="row" style="margin-bottom:40px;">
    <div class="span6">
    
	<p>Perceive your sleep as a unique musical experience!</p>

	<p>Sleep musicalization is a novel way of perceiving and experiencing sleep measurement data. 
	The goal is to help users understand 
	and analyze their sleeping patterns and eventually improve their sleep. 
	</p>
	
	<p>
	Musicalization of data provides a whole new way to experience data as a music. 
	Music has a unique capability to invoke emotions, giving users a novel opportunity 
	to perceive their data also as innate feelings. 
	In the case of sleep measurements, musicalization complements the more informative, 
	no-nonsense visual results with an emotional component towards one's own sleep. 
	</p>
	
	</div>
    <div class="span6">
    
		<p>The musicalization process follows musicological principles when composing a melody, 
		designing the rhythm and changes in tempo, arranging the accompaniment, 
		and playing out the music at different levels of volume. 
		These aspects are inspired but not dictated by the data. 
		The result of musicalization of eight hours of sleep is an origianal piece of couple 
		of minutes of music.
		</p> 

		<p>
		Sleep analysis in this service is based on the <a href="http://beddit.com">Beddit</a> 
		sleep measurement sensor. 
		Sleep measurements and analysis results are retrieved from the Beddit service, 
		by the user's authorization, and then musicalized by composing a novel piece of music.
		</p>

		<p>See the Sleep Musicalization home page at <a href="http://sleepmusicalization.net/">sleepmusicalization.net</a> for more information.</p>

	</div>
  </div>
  {% endif %}
  
  
  {% if song %}
  
  <hr>
  
  <div class="row">
  
    <div class="span6">
    	<!-- jquery player -->
		  <div id="jquery_jplayer_1" class="jp-jplayer"></div>
		  <div id="jp_container_1" class="jp-audio">
		    <div class="jp-type-single">
		      <div class="jp-gui jp-interface">
		        <ul class="jp-controls">
		          <li><a href="javascript:;" class="jp-play" tabindex="1">play</a></li>
		          <li><a href="javascript:;" class="jp-pause" tabindex="1">pause</a></li>
		          <li><a href="javascript:;" class="jp-stop" tabindex="1">stop</a></li>
		          <li><a href="javascript:;" class="jp-mute" tabindex="1" title="mute">mute</a></li>
		          <li><a href="javascript:;" class="jp-unmute" tabindex="1" title="unmute">unmute</a></li>
		          <li><a href="javascript:;" class="jp-volume-max" tabindex="1" title="max volume">max volume</a></li>
		        </ul>
		        <div class="jp-progress">
		          <div class="jp-seek-bar">
		            <div class="jp-play-bar"></div>
		          </div>
		        </div>
		        <div class="jp-volume-bar">
		          <div class="jp-volume-bar-value"></div>
		        </div>
		        <div class="jp-time-holder">
		          <div class="jp-current-time"></div>
		          <div class="jp-duration"></div>
		          <ul class="jp-toggles">
		            <li><a href="javascript:;" class="jp-repeat" tabindex="1" title="repeat">repeat</a></li>
		            <li><a href="javascript:;" class="jp-repeat-off" tabindex="1" title="repeat off">repeat off</a></li>
		          </ul>
		        </div>
		      </div>
		      <div class="jp-title">
		        <ul>
		          <li>{{ song.title }}</li>
		        </ul>
		      </div>
		      <div class="jp-no-solution">
		        <span>Update Required</span>
		        To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
		      </div>
		    </div>
		  </div>
    
    </div>
  
    <div class="span6">

      <h1>
      	{{ song.title }}
  		{% if edit_link %}
  		<small><a href="{{ edit_link }}">Edit</a></small>
  		{% endif %}
      </h1>

	  {{ song.description|linebreaks }}

      <h3>Share this song</h3>

	  <p>Copy-paste the following link to email, discussion, etc:
  	  <p><input value="http://sleepmusicalization.net{% url song song.key %}" class="span6">      

	</div>
	
  </div>
  
  {% if song.sleep_data %}
  <div class="row">
  
  	<div class="span8">
		<div id="sleep_stages_plot" style="height: 120px;"></div>
	</div>
	<div class="span4">
	  <h4>Sleep stages visualized</h4>
	  <p>The hypnogram on the left shows visualized sleep stages.
	</div>
  </div>
  <div class="row">
    <div class="span8">
		<div id="actigram_plot" style="height: 120px;"></div>
	</div>

    <div class="span4">
       <h4>Movements during the sleep</h4>
       <p>The actigram on the left shows the amount of movements during the night.
    </div>
  </div>
  {% endif %}
  
  <hr>
  
  {% endif %}


<div class="row">
    
    <div class="span6">
    	<h2>My songs</h2>
    	
    	{% with song_list=my_songs %}
    		{% include "dreamsapp/song_list_snippet.html" %}
    	{% endwith %}
    	
    </div>
    
    <div class="span6">
    
    	<h2>Latest songs</h2>
    	
    	{% with song_list=latest_songs %}
    		{% include "dreamsapp/song_list_snippet.html" %}
    	{% endwith %}
    </div>
  </div>
</div>

{% endblock %}
