{% extends "dreamsapp/base.html" %}

{% load dreamutils %}


{% block head %}
	{% if song %}
	  <script type="text/javascript">
	  
	  $(document).ready(function(){
	      $("#jquery_jplayer_1").jPlayer({
	        ready: function () {
	          $(this).jPlayer("setMedia", {
	          	"mp3": "{% url song_mp3 song.key %}"
	          });
	        },
	        swfPath: "{{ STATIC_URL }}js/jQuery.jPlayer.2.1.0/",
	        supplied: "mp3"
	      });
	    });
	
	  </script>
	 {% endif %}
{% endblock %}

{% block body %}

<div class="container" style="margin-top:100px;">

  {% if not edit_link %}
  <div class="row" style="margin-bottom:40px;">
    <div class="span6">
    
	<p>Perceive your sleep as a unique musical experience!</p>

	<p>Musicalization turns data into a genuine piece of composed music.</p>
	
	<p>See the Sleep Musicalization home page at <a href="http://sleepmusicalization.net/">sleepmusicalization.net</a> for more information.</p>
	
	</div>
    <div class="span6">
    
		
		<p>The sleep measurement is based on Beddit sensor. Data measured with Beddit is accessed via their public API, and automatic music composition algorithm is used to generate a song from the sleep data.
		
		<p>Sleep musicalization produces music that reflects the user's and complements visualizations of sleep measurements.

	</div>
  </div>
  {% endif %}

  <div class="row">
    <div class="span6">


	{% if song %}

      <h1>
      	{{ song.title }}
  		{% if edit_link %}
  		<small><a href="{{ edit_link }}">Edit</a></small>
  		{% endif %}
      </h1>

		<!-- jquery player -->
		  <div id="jquery_jplayer_1" class="jp-jplayer"></div>
		  <div id="jp_container_1" class="jp-audio">
		    <div class="jp-type-single">
		      <div class="jp-gui jp-interface">
		        <ul class="jp-controls">
		          <li><a href="javascript:;" class="jp-play" tabindex="1">play</a></li>
		          <li><a href="javascript:;" class="jp-pause" tabindex="1">pause</a></li>
		          <li><a href="javascript:;" class="jp-stop" tabindex="1">stop</a></li>
		          <li><a href="javascript:;" class="jp-mute" tabindex="1" title="mute">mute</a></li>
		          <li><a href="javascript:;" class="jp-unmute" tabindex="1" title="unmute">unmute</a></li>
		          <li><a href="javascript:;" class="jp-volume-max" tabindex="1" title="max volume">max volume</a></li>
		        </ul>
		        <div class="jp-progress">
		          <div class="jp-seek-bar">
		            <div class="jp-play-bar"></div>
		          </div>
		        </div>
		        <div class="jp-volume-bar">
		          <div class="jp-volume-bar-value"></div>
		        </div>
		        <div class="jp-time-holder">
		          <div class="jp-current-time"></div>
		          <div class="jp-duration"></div>
		          <ul class="jp-toggles">
		            <li><a href="javascript:;" class="jp-repeat" tabindex="1" title="repeat">repeat</a></li>
		            <li><a href="javascript:;" class="jp-repeat-off" tabindex="1" title="repeat off">repeat off</a></li>
		          </ul>
		        </div>
		      </div>
		      <div class="jp-title">
		        <ul>
		          <li>{{ song.title }}</li>
		        </ul>
		      </div>
		      <div class="jp-no-solution">
		        <span>Update Required</span>
		        To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
		      </div>
		    </div>
		  </div>
		  
		 {{ song.description|linebreaks }}
	  
	  	<h3>Share this song</h3>

		<p>Copy-paste the following link to email, discussion, etc:
		<p><input value="http://sleepmusicalization.net{% url song song.key %}" class="span6">      
      
      
      {% else %}
      
      	<p>Choose a song from the list --></p>
      
      {% endif %}
      
    </div>
    
    <div class="span6">
    	{% if my_songs %}
	    	<h2>My songs</h2>
	    	
	    	{% with song_list=my_songs %}
	    		{% include "dreamsapp/song_list_snippet.html" %}
	    	{% endwith %}
	    {% endif %}
    
    	<h2>Latest songs</h2>
    	
    	{% with song_list=latest_songs %}
    		{% include "dreamsapp/song_list_snippet.html" %}
    	{% endwith %}
    </div>
  </div>
</div>

{% endblock %}
